<div class="card" style="width: 14rem;">
    <img src="assets/card.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title size">Dark mode</h1>
      <p class="card-text">
          <svg class="bi" width="19" height="15" fill="currentColor"><use xlink:href="/assests/bootstrap-icons.svg#star-fill"/></svg>
          <svg class="bi" width="19" height="15" fill="currentColor"><use xlink:href="/assests/bootstrap-icons.svg#star-fill"/></svg>
          <svg class="bi" width="19" height="15" fill="currentColor"><use xlink:href="/assests/bootstrap-icons.svg#star-fill"/></svg>
          <svg class="bi" width="19" height="15" fill="currentColor"><use xlink:href="/assests/bootstrap-icons.svg#star-half"/></svg>
          <svg class="bi" width="19" height="15" fill="currentColor"><use xlink:href="/assests/bootstrap-icons.svg#star"/></svg>
          <span class="text s2"> 1,584</span>
        </p>
    </div>
    
      </div>