<div class="card" style="width: 14rem;">
    <img src={{img}} class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title size">{{name}}</h1>
      <p class="card-text">
          <svg class="bi" width="19" height="15" fill="currentColor"><use [attr.xlink:href]="star1"/></svg>
          <svg class="bi" width="19" height="15" fill="currentColor"><use [attr.xlink:href]="star2"/></svg>
          <svg class="bi" width="19" height="15" fill="currentColor"><use [attr.xlink:href]="star3"/></svg>
          <svg class="bi" width="19" height="15" fill="currentColor"><use [attr.xlink:href]="star4"/></svg>
          <svg class="bi" width="19" height="15" fill="currentColor"><use [attr.xlink:href]="star5"/></svg>
          <span class="text s2"> {{rating}} </span>
        </p>
    </div>
    
      </div>