dd{margin-top:50px;}
.d3{margin-top:100px;
    border-bottom: 5px solid rgb(241, 241, 241);}
.d2{margin-left:250px;}
.title{
    margin-left: 1px;
    margin-top:19px;
    font-size: 24px;
}
.button{
    margin-left:700px;
    border-color:rgb(194, 191, 191);
}
.solid { border-bottom: 5px solid rgb(241, 241, 241);
}
hr.new1 {
    margin-top:49px;
    border: 1px solid rgb(155, 154, 154);
  }
  .d2{margin-left:250px;}